*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/*weather app*/
.container{
    border-radius: 16px;
    width: 20rem;
    height: 3.5rem;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 1s;
    margin: auto;
}
.opps{
    height: 15rem !important;
}
.nice{
    height: 20rem !important;
}
.hide{
    display: none !important;
}
.search-box{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.location{
   padding: 0 20px;
   font-size: 20px;
}
.search{
   margin-left: 20px;
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 3rem;
    height: 3rem;
}
.search:hover{
    border-radius: 32px;
    background-color: gray;
}
input{
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
}
.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sun{
    width: 10rem;
    height: 10rem;
}
.other-box{
    display: flex;
    align-items: center;
}
.humidity{
    margin: auto;
    display: flex;
}
.wind-speed{
    margin: auto;
    display: flex;
}
.hum-text, .wind-text{
    display: flex;
    flex-direction: column;
}
.nowhere-box{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nowhere{
    width: 10rem;
    height: 10rem;
}
/*transition*/
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    color: #fff;
}
.content p{
    color: #fff;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
